main {
    color: $dark;
    width: 1100px;
    margin: 30px auto;

    h1 {
        width: 600px;
        font-size: 2.8rem;
    }

    & .value {
        width: 530px;
        margin: 1.5rem 0rem 1.5rem 0rem;
        font-size: 1.5rem;
    }

    & .call-to-action {
        width: 420px;
        height: 80px;
        margin: 1.5rem 0rem 1.5rem 0rem;
        @include align-center(space-between);

        & button {
            font-size: 1.5rem;
            color: $light;
            background-color: $dark;
            border: none;
            padding: 1.5rem 1.2rem;
            cursor: pointer;

            &:hover{
                border-radius: 10px;
                background-color: lighten($dark, 15%);
            }
        }

        & a {
            padding: 1.5rem 1.2rem;
            text-decoration: underline;
            font-size: 1.2rem;

            &:hover{
                transform: scale(120%)
            }
        }
    }

    & .prof {
        @include align-center(space-between);
        width: 400px;
        height: 80px;

        & div {
            font-size: 2rem;
            height: 40px;
            font-weight: bold;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            & .left,
            .right {
                font-weight: 500;
                font-size: 1rem;
            }
        }

        & hr {
            border: 1px solid;
            height: 40px;
        }
    }
}